<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIGITAL HAJIR : Face Recognition based Attendance System</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="hero">
      <nav>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/use">How To Use</a></li>
         
        </ul>
        <div>
          <a href="/login" class="btn">Admin Login </a>
        </div>
      </nav>
      <div class="content">
        <h1 class="anim">
          Attend Today <br />
          & <br />
          <pre>Achieve Tomorrow</pre>
        </h1>
        <p class="anim">
          Attendance is the key for a child to be successful in their school
          careers. Vital things are missed if the child is absent even just one
          day. One wonderful way to inspire perfect attendance in your students
          is by implementing an incentive program for those who do not miss any
          school.
        </p>
        <!-- Modify the anchor tag for the button -->
        <a href="/startuser" class="btn anim" 
          >Let's Attendance</a>
      </div>
      <img src="/static/images/pic.png" class="feature-img anim" />
    </div>
  </body>
</html>
