<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL HAJIR : Face Recognition based Attendance System</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="hero">
        <nav>
          
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/use">How To Use</a></li>
           
          </ul>
          <div>
            <a href="/login" class="btn">Admin Login </a>
          </div>
        </nav>

        <div class="div1">
  
            <h2>1. Logging into the Admin Panel:</h2><br>
            
            
              <ul style="list-style-type: disc; font-size: 20px;">
                <li>&nbsp;&nbsp;&nbsp;Go to the admin panel login page.</li>
                <li>&nbsp;&nbsp;&nbsp;Enter your admin username and password.</li>
                <li>&nbsp;&nbsp;&nbsp;Click "Login."</li>
            </ul>
        </div>

        <div class="div2">
  
          <h2>2. Adding User Details:</h2><br>
          
          
            <ul style="list-style-type: disc; font-size: 20px;">
              <li>&nbsp;&nbsp;&nbsp;Fill in required info(name,roll,email).</li>
              <li>&nbsp;&nbsp;&nbsp;Click Add User.</li>
              <li>&nbsp;&nbsp;&nbsp;Automatically, Captures Training Images.</li>
          </ul>
      </div>
            

      <div class="div3">
  
        <h2>3. Taking Attendance as an Admin:</h2><br>
        
        
          <ul style="list-style-type: disc; font-size: 20px;">
            <li>&nbsp;&nbsp;&nbsp;Click on "Take Attendance" on the dashboard.</li>
            <li>&nbsp;&nbsp;&nbsp;Automatically Capture Images and Use 'Esc' key to take Attendence.</li>
        
        </ul>
    </div>
          

    <div class="div4">
  
      <h2>4. Viewing User Details:</h2><br>
      
      
        <ul style="list-style-type: disc; font-size: 20px;">
          <li>&nbsp;&nbsp;&nbsp;Locate "User Details" on the dashboard.</li>
          <li>&nbsp;&nbsp;&nbsp;View User Information.</li>
      
      </ul>
  </div>

  <div class="div5">
  
    <h2>5. Taking Attendance as a User:</h2><br>
    
    
      <ul style="list-style-type: disc; font-size: 20px;">
        <li>&nbsp;&nbsp;&nbsp;Click On "Take Attendance" on the Homepage.</li>
        <li>&nbsp;&nbsp;&nbsp;Automatically Capture Images and Use 'Esc' key to take Attendence..</li>
    
    </ul>
  </div>


  

        
</div>

    


</body>
</html>